@model YHW.Models.SharedViews.TextColumnWithHeaderVM

<h3>@Model.Header</h3>

<div class="bs-docs-sidebar hidden-print affix-bottom" style="padding-left:0px;">
  <ul class="nav bs-docs-sidenav">
    @foreach (var item in Model.Items)
    {
      if (item.Active)
      {
        <li class="active">
          @Html.ActionLink(item.Label, item.Action, item.Controller)
        </li>
      }
      else
      {
        <li>
          @Html.ActionLink(item.Label, item.Action, item.Controller)
        </li>
      }
    }
  </ul>
</div>