@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LayoutRightTwitter.cshtml";
}

<div class="col-md-3">
  @Html.Partial(
   "~/Views/Shared/_TextColumnWithHeader.cshtml",
   new YHW.Models.SharedViews.TextColumnWithHeaderVM() {
     Header = "About Us",
     Items = YHW.Controllers.HomeController.AboutUsNavData("about")
   })
</div>

<div class="col-md-9">
  <h2>About Us / <small>Mission &amp; Vision</small></h2>
  <p>
    You Heard Wrong (YHW) is a not-for-profit organization that takes the
    biases out of educational topics through the conjunctions of facts and
    opinions, allowing users to create their own unbiased, educated, opinions.
  </p>

  <p>
    You Heard Wrong (YHW) has a vision to transform the opinions of
    stakeholders in education. We envision a world where people are knowledgeable
    about education facts and laws, and take the time to consider others
    opinions, in order to make a fully informed decision (without bias).
  </p>
</div>
