@{
    ViewBag.Title = "About Us";
}

<div class="col-md-3">
  @Html.Partial(
   "~/Views/Shared/_TextColumnWithHeader.cshtml",
   new YHW.Models.SharedViews.TextColumnWithHeaderVM() {
     Header = "About Us",
     Items = YHW.Controllers.HomeController.AboutUsNavData("about")
   })
</div>

<h1>About Us / Mission</h1>
<p>You Heard Wrong (YHW) is a not-for-profit organization that takes the
  biases out of educational topics through the conjunctions of facts and
  opinions, allowing users to create their own unbiased, educated, opinions.</p>

<p>501 (c) (3) status explanation</p>