@model List<YHW.Models.Content.ITopicContent>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHiddenTwitter.cshtml";
}

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1" style="font-size:larger">
    <h2 class="text-center">Join the Movement!</h2>
    <p style="text-align:center">
      You Heard Wrong (YHW) is a not-for-profit that raises awareness about the
      truths in education with the direct comparison of facts and opinions through
      multi-media crowd-sourced journalism.
    </p>
  </div>
</div>
@if (!Request.IsAuthenticated)
{
// This prompts users to engage our group!
<div class="row" style="text-align:center;">
  <div class="col-md-4 col-lg-4">
    <img class="img-circle" src="@Url.Content("~/Content/images/facebook-icon-circle.png")" alt="140x140" style="width: 140px; height: 140px;">
    <h2>Like us on Facebook!</h2>
    <p>We post all of our new content onto Facebook as it arrives. Like us to keep up to date.</p>
    <div class="fb-follow" data-href="https://www.facebook.com/youheardwrong" data-colorscheme="light" data-layout="button_count" data-show-faces="false"></div>
  </div>
  <div class="col-md-4 col-lg-4">
    <img class="img-circle" src="@Url.Content("~/Content/images/twitter_circle_color-512.png")" alt="140x140" style="width: 140px; height: 140px;">
    <h2>Follow us on Twitter!</h2>
    <p>We post all of our new content onto Facebook as it arrives. Follow us on Twitter and join the conversation </p>
    <a href="https://twitter.com/youheardwrong" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="medium">Follow @@YouHeardWrong</a>
  </div>
  <div class="col-md-4 col-lg-4">
    <img class="img-circle" alt="140x140" src="@Url.Content("~/Content/images/yhw-circle-140.jpg")" style="width: 140px; height: 140px;">
    <h2>Sign in Now!</h2>
    <p>Sign in to Comment on articles, or upload the content you find online.</p>
    <a href="@Url.Action("Login", "Account")"><button class="btn btn btn-yhw">Sign In!</button></a> 
  </div>
</div>
} else {
// This tracks a users engagement with our product
}
@for (int i = 0; i < Model.Count; ++i)
{
  var item = Model[i];
  if (i % 2 == 0)
  {
    <hr class="featurette-divider" />

    <div class="row featurette-right">
      <div class="col-sm-12 col-md-8">
        <h1>This is a test post, but I made it longer so that I can test multi-line stuff</h1>
        <p>Here is some stuff that appears in a featurette</p>
      </div>
      <div class="col-sm-offset-1 col-sm-6 col-md-offset-0 col-md-4">
        <img src="http://placehold.it/256x256" style="max-height:256px; min-height:256px;" />
      </div>
    </div>
  }
  else
  {
    <hr class="featurette-divider" />

    <div class="row featurette-left">
      <div class="col-sm-offset-1 col-sm-6 col-md-offset-0 col-md-4">
        <img src="http://placehold.it/256x256" style="max-height:256px; min-height:256px;" />
      </div>
      <div class="col-sm-12 col-md-8">
        <h1>This is a test post, but I made it longer so that I can test multi-line stuff</h1>
        <p>Here is some stuff that appears in a featurette</p>
      </div>
    </div>
  }
}

<div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=273612212799967";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

@*
<div class="row">
  <div class="col-md-8 col-sm-10">
    <a style="color:black;" href="https://www.surveymonkey.com/s/8NQDHX7">
      <h1 >TAKE OUR SURVEY!</h1>
      <p>We put a little survey together to see how you guys feel about the common core! Click Here to take it now!</p>
    </a>
  </div>
</div>
*@