
<div style="font-size:xx-large; font-weight:bold">Common Core</div>
@if (ViewBag.isOpinion == true)
{
  <span style="font-size:large; font-weight:bold; padding-left: 50px;">/ Opinion</span>
}
else
{
  <span style="font-size:large; font-weight:bold; padding-left: 50px;">/ Fact</span>
}