@model List<YHW.Models.Content.ITopicContent>
<h1 style="margin-top: 0px; margin-bottom: 0px;">Common Core</h1>
@if (ViewBag.isOpinion == true)
{
  <h1 style="margin-top:0px;"><small>/ Opinion</small></h1>
}
else
{
  <h1 style="margin-top:0px;"><small>/ Fact</small></h1>
}

@foreach (var item in Model)
{
  String partialName = item.TypeName + "ItemPartial";
  <div class="row">
    <div class="col-md-8 col-sm-12">      
      @Html.Partial(partialName, item)
    </div>
  </div>
}