@model YHW.Controllers.TopicController.IndexVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHiddenTwitter.cshtml";
}

<div class="col-md-2 col-sm-3">
  @Html.Action("TopicFilter", new { header = Model.Header, content = Model.Content })
</div>
<div class="col-md-10 col-sm-9">
  @{
    // This is the generic case where we don't specify content
    if (Model.Content == "")
    {
      @Html.Action("Generic", new { header = Model.Header })
    }
    // in this case ViewBag.content contains the name of the content type we want to render
    else
    {
      @Html.Action(Model.Content, new { header = Model.Header })
    }
  }
</div>