@model List<YHW.Models.Content.Quote>

<div class="row">
  <div style="font-size:xx-large; font-weight:bold">Common Core</div>
  @if (ViewBag.isOpinion == true)
  {
    <span style="font-size:large; font-weight:bold; padding-left: 50px;">/ Opinion <small>/ Quote</small></span>
  }
  else
  {
    <span style="font-size:large; font-weight:bold; padding-left: 50px;">/ Fact <small>/ Quote</small></span>
  }

  @* If there are no items, display a message indicating such *@
  @if (Model.Count == 0)
  {
    <h2>No items found, Try another search!</h2>
  }
</div>

@foreach (var quote in Model)
{
  @Html.Partial("QuoteItemPartial", quote)
}
