@model List<YHW.Models.Content.Video>

<h1 style="margin-top: 0px; margin-bottom: 0px;">Common Core</h1>
@if (ViewBag.isOpinion == true)
{
  <h1 style="margin-top:0px;"><small>/ Opinion <small>/ Video</small></small></h1>
}
else
{
  <h1 style="margin-top:0px;"><small>/ Fact <small>/ Video</small></small></h1>
}

@* If there are no items, display a message indicating such *@
@if (Model.Count == 0)
{
  <h2>No items found, Try another search!</h2>
}

@foreach (var video in Model)
{
  @Html.Partial("VideoItemPartial", video)
}
