@model YHW.Models.Content.Quote
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutRightTwitter.cshtml";
}


<h2 class="text-center">@Model.Title </h2>
<h3><small>@Model.CreatedDate.Date.ToString("D")</small></h3>

@if (!String.IsNullOrEmpty(Model.SubText))
{
  foreach (var item in Model.SubText.Split('\n'))
  {
    <p>@item</p>
  }
}

<hr />
<h4>Posted By</h4>
@Html.Action("ContentAuthorView", "Home", new { author = Model.Author })