@model YHW.Models.Content.Video

@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_LayoutRightTwitter.cshtml";
}

@if (!Model.IsApproved)
{
  <div class="alert alert-warning">
    This content is <strong>still awaiting approval</strong>, and will not be visable to anyone but the Author,
    and Editors of this site.
  </div>
}

@Html.Partial("VideoItemPartial", Model)

<div id="MessageForm">
  @Html.Action("CommentPartial", "Comment", new { id = "Video:" + Model.ID })
</div>