@import "bootstrap.min.css";
@import "bs.docs.min.css";

body {
  margin-top:60px;
  font-family:'Lato', sans-serif;
  background: #EBEBEB;
}

.container {
  background: #FCFCFC;
  border-radius: 6px;
}

.yhw-content {
  border: 2px solid #aaaaaa;
  border-bottom: 3px solid #999999;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:10px;
  border-radius:5px;
  padding-left:5px;
  margin-right:3px;
}

p {
  font-size:16px;
}

.navbar-green {
  background-color: #00C68F;
}
.navbar-green a {
    color:#ffffff;
    font-family:'late', sans-serif;
    font-weight:normal;
    font-size:large;
    text-decoration:none;
  }
  .navbar-green a.item {
    font-weight:normal;
    font-size:small;
  }

  .navbar-green div.col-md-2 {
    padding-left:0px;
    padding-right:20px;
  }

  .navbar-green .header {
    color:#ffffff;
    font-family:'late', sans-serif;
    font-weight:bold;
    font-size:inherit;
    text-decoration:none;
  }

  .navbar-green a:hover, .nav>li>a:hover {
  background-color:#008d65;
  color:#ffffff;
  }
.nav .open > a, .nav .open > a:focus {
  background-color: #00C68F;
}
  .nav .open > a:hover {
    background-color:#008d65;
  }

.brand img {
  height: 40px;
}

.navbar-toggle {
  border:1px solid #ffffff;
}

.carouselImage {
  width: 100%;
}

.carousel-inner {
  width: 100%;
  max-height: 400px !important;
}

.icon-bar {
  background-color: #FFFFFF;
}

.carousel-caption {
  background: #333333;
  opacity:0.6;
}

ul.YHW-topic {
  list-style-type:none;
  margin-left:0px;
  padding-left:10px;
  font-size: 16px;
}

li.YHW-topic-active {
  background-image: url(images/icon_li_active.png);
  background-repeat: no-repeat;
  background-position: 0px 2px;
  padding-left: 16px;
  margin-left: 0px;
}
  li.YHW-topic-active a {
    color:black;
    font-weight: bold;
  }

    li.YHW-topic-active a:hover {
      text-decoration:none;
    }

li.YHW-topic {
  background-image: url(images/icon_li.png);
  background-repeat: no-repeat;
  background-position: 0px 2px;
  padding-left: 16px;
  margin-left: 0px;
}
  li.YHW-topic a {
    color:black;
    font-weight: normal;
  }
      li.YHW-topic a:hover {
      text-decoration:none;
    }


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-right:5px;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-yhw {
  background-color:#00C68F;
  border-color:#008560;
  font-family:late, sans-serif;
  font-weight:bold;
  font-size:16px;
  color:#ffffff;
}
  .btn-yhw:hover {
    border-color:#009468;
    background-color:#00B67F;
    color:#ffffff
  }

.featurette-divider {
  margin: 50px 20px 50px 20px;
  border-top: 1px solid #00C68F;
}

.featurette {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
  .featurette-right a, .featurette-left a {
    color:black;
    text-decoration:none;
  }

  .featurette-right h1 {
    margin-left:50px;
    margin-top:25px;
    font-size:40px;
  }

  .featurette-right p {
    font-size:22px;
    margin-left:50px;
  }

  .featurette-left h1 {
    font-size:40px;
  }

  .featurette-left p {
    font-size:22px;
  }

  .featurette-left img {
    margin-left:50px;
    margin-top:25px;
  }