@model YHW.Models.Content.Blog
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutRightTwitter.cshtml";
}

<h2>@Model.Title &nbsp;<small>@Model.CreatedDate.Date.ToString("D")</small></h2>

@foreach (var item in Model.BlogText.Split('\n'))
{
<p>@item</p>
}
