@model YHW.Models.Content.Blog
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_LayoutRightTwitter.cshtml";
}

<h2>@Model.Title &nbsp;<small>@Model.CreatedDate</small></h2>

@foreach (var item in Model.BlogText.Split('\n'))
{
<p>@item</p>
}
