@{
  ViewBag.Title = "Success";
  Layout = "~/Views/Shared/_LayoutRightTwitter.cshtml";
}


<div class="col-sm-9" style="padding-top:10px;">
  <div class="alert alert-success" style="font-size:larger;">
    <b>Thank you!</b>
    We have received your Blog Post, thank you for your contribution!
  </div>
</div>
