@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHiddenTwitter.cshtml";
}

<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-2">
    <a href="@Url.Action("New", "Quote")">
      <button style="margin: 5px 5px 5px 5px;" class="btn btn-lg btn-info">Add Quote</button>
    </a>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-2">
    <a href="@Url.Action("New", "Blog")">
      <button style="margin: 5px 5px 5px 5px;" class="btn btn-lg btn-success">Add Blog</button>
    </a>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-2">
    <a href="@Url.Action("New", "Video")">
      <button style="margin: 5px 5px 5px 5px;" class="btn btn-lg btn-danger">Add Video</button>
    </a>
  </div>
</div>