@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHiddenTwitter.cshtml";
}

<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-2">
    <a href="@Url.Action("New", "Quote")">
      <button class="btn btn-lg btn-info">New Quote</button>
    </a>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-2">
    <a href="@Url.Action("New", "Blog")">
      <button class="btn btn-lg btn-success">New Blog</button>
    </a>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-2">
    <a href="@Url.Action("New", "Video")">
      <button class="btn btn-lg btn-danger">New Video</button>
    </a>
  </div>
</div>