@{
    ViewBag.Title = "Http404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Http 404</h2>
<p>Alright here is the story, you may have a requested something that does't exist, I might have
  failed to get you the right content, but either way we are both here. I am going to log this and
  look into it!</p>
